* {
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0px;
}
header{
    margin: 0px 100px;
    margin-top: 30px;
}
.header-title{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 1.5rem;

}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul {
    display: flex;
    list-style: none;
}
nav ul a {
    text-decoration: none;  
    margin-right: 30px;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;
}
.banner-text{
    color: #3A3A3A;
}
.banner-title{
    font-size: 2.25rem;
    font-weight: 700;
    
}
.detail{
    font-size: 1rem;
    font-weight: 600;
}
.btn{

}
.banner-img{
  width: 50%;  
 padding-top: 50px;
 padding-left: 120px;



}
.btn{
    border-radius: 41px;
    background: #E02C6D;  
    color: #FFF;
border: none;
font-size: 0.8rem;
font-weight: 700;
padding: 2px 12px;
justify-content: center;
display: flex;
text-align: center;
gap: 10px;
margin-top: 10px;

}
.btn-item{
   align-self: center; 
}
.btn-icon{
    
    margin-top: 5px;
}
    
    

.main-img{
    background-image: url(./images/Circle\ design.svg);
   
   background-repeat: no-repeat;
   background-position: center;
   background-size: 57%;


}
.icon{
    width: 75%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(7,1fr);
   
    margin-bottom: 120px;
    align-items: center;
    border-top: 1px solid rgb(189, 186, 186);
    border-bottom: 1px solid  rgb(189, 186, 186);
    padding-top: 20px;
    padding-bottom: 20px; 
    margin-top: 70px;
  
}
.popular-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    max-width:75%;
    margin: 0 auto;
   min-height: 300px;
   border-radius: 5px;
   gap: 15px;

}
 .grid-img {
   
    box-shadow: 2px 2px 4px gray;
    padding: 8px;
    color: #FFFFFF;
    
  
    

}
.drone{
    width: 100%;
    border-radius: 5px;

}
.drone-title{
    color: var(--text-gray-900, #18191F);
   
    font-size: 28px;
    
    font-weight: 500;
    
}
.price{
    color: rgba(0, 0, 0, 0.87);
    
    font-size: 24px;
    
    font-weight: 400;
    
}
.drone-detail{
    color: var(--gray-50, #787885);
    
    font-size: 14px;
   
    font-weight: 700;
    
   
}
@media screen and (max-width:576px)  {
    nav{
        flex-direction: column;
    }
    nav > ul {
        flex-direction: column;
}
header {
    margin: 5px ;
    margin-left: 15px;
    text-align: center;
    overflow: hidden;

}
.banner{
    flex-direction: column;
    overflow: hidden;
}
.banner-img{
    padding-right: 90px;
    

background-position: center;


}
.grid-container{
    
    grid-template-columns: 1fr;
    
    width: 80%;
    margin: 0 auto;
}
   


   


.btn{
    margin-left: 150px;
    
    margin-bottom: 30px;
    

font-size: 0.6rem;

padding: 2px 5px;



gap: 6px;

}
.banner-title{
    font-size: 1.8.rem;
    font-weight: 700;
    
}
.detail{
    font-size: 0.5rem;

}
.icon{
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    padding: 0px 10px;
    row-gap: 30px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}
}

@media screen and (max-width:305px)  {
    .icon{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .banner-img{
        padding-left: 60px;
        
    
    background-position: center;


}
.btn{
    margin-left: 100px;
    
    margin-bottom: 5px;
    

font-size: 0.4rem;

padding: 2px 5px;



}